html,
body {
	overflow: hidden;
	/* hides both horizontal and vertical scroll */
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari and Opera */
}