@view-transition {
	navigation: auto;
}

html,
body {
	overflow: hidden;
	/* hides both horizontal and vertical scroll */
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari and Opera */
}

.page {
	box-shadow: -6px 0px 17px rgba(0, 0, 0, 0.1);
}

.page.bg-ios-light-surface {
	background-color: rgba(255, 255, 255, 1);
}

.dark .page.bg-ios-light-surface {
	background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
